/* COPYRIGHT 2024 Astyllly */
/* DO NOT REMOVE THESE COMMENTS */

* {
  color: #EE204D;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Twinkle Star", cursive;

}

body {
  background-color: #e6d8ad;
  padding: 5px;
}

h1 {
  color: red;
  font-family: "Edu AU VIC WA NT Hand", cursive;
}

.heading, header {
  background-color: #F88379;
  padding: 0% 0% 0% 0%;
  box-shadow: 3px 3px 3px 3px;
}

nav {
  padding: 50px;
  color: #ebe9e1;
}

a {
  color: #ebe9e1;
  font-family: "Gupter", serif;
}

.logo {
  color: #ebe9e1;
  font-family: "Twinkle Star", cursive;
}

span {
  color: #ebe9e1;
}

p {
  font-family: "Gupter", serif;
}

#example-1 {
  justify-content: space-between;
  padding: 5px;
}

.example-music {
  background-color: #F88379;
}

ol {
  font-family: "Gupter", serif;
  color: #e6d8ad;
  background-color: #EE204D;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
}

li {
  font-family: "Gupter", serif;
  color: #e6d8ad;
}